body {
  background-color: white;
}

.portfolio-browser {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #4985ff;
}

.portfolio-text-browser {
  padding-bottom: 20px;
  font-family: "Lobster Two", cursive;
  font-size: 100px;
  color: white;
}

.navbar-browser {
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
}

.navbar-option-browser {
  display: inline-block;
  height: auto;
  width: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px tan solid;
  border-radius: 10px;
  font-family: "Fascinate Inline", cursive;
  font-size: 40px;
  color: rgb(94, 81, 76);
}

.navbar-option-browser:hover {
  background-color: #4985ff;
  color: white;
}
