body {
  background-color: white;
  text-align: center;
  padding-bottom: 20px;
}

.one-hundred {
  display: block;
  width: 100%;
  background-color: white;
}

.font-galada {
  font-family: "Galada", cursive;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-fondamento {
  font-family: "Fondamento", sans-serif;
}

.main-content-item-br {
  display: block;
  width: 100%;
  height: 10px;
  background-color: white;
}

.main-content {
  display: inline-block;
  background-color: ivory;
  border: solid 3px darkgray;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Open Sans", sans-serif;
  color: darkblue;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.main-content-title {
  background: linear-gradient(0.25turn, rgb(192, 192, 155), ivory);
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  display: block;
  padding: 20px;
  font-family: "Open Sans", cursive;
  font-size: 40px;
  color: black;
  text-align: right;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
}

.main-content-item {
  background: linear-gradient(#7faaff, #0055ff);
  display: block;
  padding-bottom: 5px;
  font-family: "Montserrat", cursive;
  font-size: 16px;
  text-align: left;
  color: white;
  border: solid 2px black;
}

.main-content-item-title {
  display: inline-block;
  padding: 20px;
  font-weight: bold;
  font-size: 40px;
  color: black;
}

.main-content-item-github {
  background-color: dodgerblue;
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
}

.main-content-item-tech-major {
  border-left: solid 5px white;
  border-right: solid 5px white;
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(255, 0, 157);
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.main-content-item-tech-minor {
  border-left: solid 5px white;
  border-right: solid 5px white;
  display: inline-block;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(0, 238, 255);
  color: black;
  font-size: 14px;
}

.main-content-item-cloud {
  border-left: solid 5px white;
  border-right: solid 5px white;
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #6e1ed6;
  color: white;
  font-size: 18px;
}

.main-content-item-feature {
  display: inline-block;
  border-right: solid 5px white;
  border-left: solid 5px white;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(71, 74, 255);
  color: white;
  font-size: 14px;
}

.main-content-item-descr {
  background-color: #6598ff;
  display: block;
  padding: 10px;
  margin: 20px;
  color: black;
  font-size: 14px;
  color: white;
}
