body {
  background-color: white;
  text-align: center;
  padding-bottom: 20px;
}

.one-hundred {
  display: block;
  width: 100%;
  background-color: white;
}

.font-galada {
  font-family: "Galada", cursive;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-fondamento {
  font-family: "Fondamento", sans-serif;
}

.portfolio {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: orangered;
}

.portfolio-name {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.portfolio-text {
  display: inline-block;
  font-family: "Galada", cursive;
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.main-content-item-br {
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
}

.main-content {
  display: inline-block;
  background-color: ivory;
  border: solid 3px darkgray;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: darkblue;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.main-content-mobile {
  display: inline-block;
  background-color: rgb(255, 255, 240);
  border: solid 3px black;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: darkblue;
  border-radius: 20px;
  margin-top: 20px;
}

.main-content-title {
  display: block;
  padding: 20px;
  font-family: "Open Sans", cursive;
  font-size: 40px;
  color: black;
  text-align: right;
  user-select: none;
}

.main-content-item {
  background-color: #4985ff;
  display: block;
  padding-bottom: 5px;
  font-family: "Montserrat", cursive;
  font-size: 16px;
  text-align: left;
}

.main-content-item-title {
  display: inline-block;
  padding: 10px;
  text-align: left;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.main-content-item-techstack {
  border: solid 2px white;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: #1e5cd6;
  color: white;
  font-size: 14px;
}

.main-content-item-skill {
  border: solid 2px white;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: #9c1ed6;
  color: white;
  font-size: 14px;
}

.main-content-item-feature {
  display: inline-block;
  border: solid 2px #1e5cd6;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 14px;
}

.main-content-item-descr {
  background-color: #6598ff;
  display: block;
  padding: 10px;
  margin: 5px;
  color: black;
  font-size: 14px;
  color: white;
}
